<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>admin</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
{% for i in users %}
    <table class="pure-table pure-table-bordered">
        {% for t in i.todolist %}
            <thead>
            <tr>
                <th>{{ i.username }}</th>
                <th>{{ t.content }}</th>
            </tr>
            </thead>
        {% endfor %}
    </table>
{% endfor %}
</body>
</html>