<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>body {
        text-align: center
    }
    </style>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<form class="pure-form">
    <fieldset>
        <legend>一个简单的单行表单</legend>

        <input type="email" placeholder="username">
        <input type="password" placeholder="Password">

        <label for="remember">
            <input id="remember" type="checkbox"> 记住我
        </label>

        <button type="submit" class="pure-button pure-button-primary">登陆</button>
    </fieldset>
</form>
</body>
</html>